/* Notes
  font-family: 'Lexend Deca', sans-serif;
*/

/*
Frequently used and fundamental css
*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
}

/*
Header Layout
*/

.parts {
  height: 100vh;
}

.header {
  text-align: left;
  background-color: #FD5448;
}

.intro {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 30vh;
}

.intro h1 {
  font-size: 65px;
  color: #F2F2F2;
}

.intro p {
  font-size: 30px;
  align-items: left;
  color: #F2F2F2;
}

.see-more {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
}

.see-more a {
  text-decoration: none;
  color: white;
  background-color: black;
  font-size: 25px;
  padding: 5px 5px 5px 5px;
  margin-right: 20px;
  margin-bottom: 8px;
}

.see-more a:hover {
  background-color: #FFECEF;
  color: #07B1BD;
}

/*
Profile Layout
*/

.profile {
  text-align: left;
  background-color: #BBCFFF;
}

.bio {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 20vh;
}

.bio h1 {
  font-size: 55px;
  color: #423C3C;
  margin-bottom: 3vh;
}

.bio p {
  font-size: 27px;
  text-align: justify;
  text-indent: 5vw;
  color: #4D4646;
}

.contact-row {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
}

/*
Contact Layout
*/

.contact {
  text-align: left;
  background-color: #00334E;
}

.information {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 23vh;
}

.information h1 {
  color: #474538;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-row img {
  width: 300px;
  height: auto;
  border-radius: 25px;
  border: 5px solid #B7C8D3;
}

.contact-row span {
  padding: 0;
  text-align: center;
  margin-left: 40px;
}

.icons {
  text-align: center;
  padding-top: 8vh;
}

.fa-instagram {
  font-size: 80px;
  color: #B7C8D3;
  padding: 0;
  margin: 0 2vw 0 2vw;
}

.fa-linkedin {
  font-size: 80px;
  color: #00334E;
  background-color: #B7C8D3;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 2vw 0 2vw;
  border-radius: 5px;
}

.fa-twitter {
  font-size: 80px;
  color: #B7C8D3;
  padding: 0;
  margin: 0 2vw 0 2vw;
}

.fa-quora {
  font-size: 80px;
  color: #B7C8D3;
  padding: 0;
  margin: 0 2vw 0 2vw;
}

/*
Media config
*/

@media (max-width: 600px) {
  .intro {
    padding-top: 20vh;
  }

  .intro h1 {
    font-size: 50px;
  }

  .intro p {
    font-size: 25px;
  }

  .see-more a {
    font-size: 20px;
  }

  .bio {
    padding-top: 15vh;
  }

  .bio h1 {
    font-size: 30px;
  }

  .bio p {
    font-size: 18px;
  }

  .information {
    padding-top: 9vh;
  }

  .contact-row img {
    width: 250px;
  }

  .contact-row span {
    margin-left: 0px;
  }

  .fa-instagram {
    font-size: 42px;
    margin: 0 2vw 0 2vw;
  }

  .fa-linkedin {
    font-size: 38px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0 2vw 0 2vw;
  }

  .fa-twitter {
    font-size: 40px;
    margin: 0 2vw 0 2vw;
  }

  .fa-quora {
    font-size: 38px;
    margin: 0 2vw 0 2vw;
  }
}
